#pomodoro {
  background-color: #d9b68b !important;
  font-family: "Roboto";
  color: #401201;
  border: 5px solid #a6550f !important;
  border-radius: 25px !important;
  width: 400px;
}
#break-label,
#session-label {
  background-color: #8c3f23 !important;
  color: #f2ab6d;
}
#timer-label {
  border: 5px solid #a6550f !important;
  border-radius: 25px !important;
}
.remove_button_css {
  outline: none;
  padding: 0px;
  border: 0px;
  box-sizing: none;
  background-color: #8c3f23;
  color: #f2ab6d;
  border: 1px solid #a6550f !important;
  border-radius: 5px !important;
}
i {
  padding: 2px;
}
